/**
 * Override CSS's
 */
 .bg-light {
     background-color: #2c5680!important; 
 }


.margin-top-20{
  margin-top: 20px;
}
.feature-img{
  max-height: 200px
}


.footer-bottom{
  padding: 20px;
  margin-top: 20px;
  background: #2c5680!important;
}